@keyframes disappear{
    from{color:white;}
    to{color:#101820;}
}
@keyframes appear{
    from{color:#101820;}
    to{color:white;}
}
/*------------------------------------------------------------------------------*/
.header {
    font-family: 'Lato',sans-serif;
    text-align: left;
    text-indent: 25px;
    }
    .salutation {
        font-family: 'Caveat',sans-serif;
        color:#FEE715;
        font-size: 48px;
    }
    .presentation {
        font-family:inherit;
        font-size: 24px;
    }
        .presentation b{
            font-size:48px;
            font-family: 'Poppins',sans-serif;
        }
    .role{
        font-family: inherit;
        font-size:24px;
    }
    .about-me{
        padding: 10px;
        width: 85%;
        text-indent: 0;
    }
    .mobile{
        font-family: inherit;
        font-size:16px;
        text-indent: 15px;
    }
/*------------------------------------------------------------------------------*/
.contacts{
    position: absolute;
    right:0;
    top:35vh;
    }
    .contacts ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 80px;
        height: 120px;
        background-color: transparent;
    }  
    .contacts li a {
        display: block;
        color:inherit;
        padding: 8px 16px;
        text-decoration: none;
    }
    .contacts li i{
        font-size:32px;
        transition: all .6s ease-out;
    }
        .contacts li i:hover {
            color: #FEE715;
            transform: scale(1.5);
        }
/*------------------------------------------------------------------------------*/
        .go-to{
            display:grid;
            place-items:center;
            }  
        .go-to-projects{
            width: fit-content;
            text-align: center;
            border-radius: 15px;
            position: absolute;
            bottom:7vh;
        }
            .go-to-projects a{
                font-size: 16px;
                text-decoration: none;
                transition: all .3s ease-out;
                color:inherit;
            }
                .go-to-projects:hover a{
                    font-size:18px;
                }
        .go-to-projects .bx-down-arrow-alt{
            display: none;
            animation-name:disappear;
            animation-duration:.6s;
        }
            .go-to-projects:hover .bx-down-arrow-alt{
                display: block;
                transform: scale(1.5);
                animation-name:appear;
                animation-duration: .6s;
            }
            .go-to-projects:not(:hover) .bx-down-arrow-alt{
                display:none;
                animation-name: disappear;
                animation-duration: .6s;
            }
        .go-to-projects:hover .bx-chevron-down{
            display: none;
            animation-name: disappear;
            animation-duration: .6s;
        }
        .go-to-projects:not(:hover) .bx-chevron-down{
            display:block;
            animation-name: appear;
            animation-duration: .6s; 
        }
     
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/

@media screen and (max-width:700px){
    .salutation{
        text-align: left;
        font-size:1.5em;
    }
    .presentation{
        text-align: left;
        font-size:.5em;
    }
        .presentation b{
            font-size:2.5em;
        }
    .role{
        font-size: .5em;
    }
    
}