@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@keyframes disappear{
    from{color:white;}
    to{color:#101820;}
}
@keyframes alternative-disappear{
    from{color:#101820;}
    to{color:#FEE715};
}
@keyframes appear{
    from{color:#101820;}
    to{color:white;}
}
@keyframes alternative-appear{
    from{color:#FEE715;}
    to{color:#101820;}
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FEE715;
}
#Top{
    height:95vh;
}

.first-color-section{
    margin:0;
    padding:0;
    background-color: #101820;
    color:white;
}
.second-color-section{
    margin:0;
    padding:0;
    background-color: #FEE715;
    color:#101820;
}
.first-to-second-transition{
    background-color: inherit;
}
.first-to-second-transition hr{
    border: 5px solid #101820;
    margin:10px 0px 0px 0px;
}
.second-to-first-transition{
    background-color: inherit;
}
.second-to-first-transition hr{
    border:5px solid #101820;
    margin: 10px 0 0 0;
}
.container {
    margin: 30px auto auto auto;
    width: 65%; 
    /*border: 3px solid #FEE715;*/
    padding: 10px;
    color:inherit;
}

.go-to{
    margin: 25px 0 -15px 0;
    display:grid;
    place-items:center;
    }   
    
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/

@media screen and (max-width:700px){
    .go-to{
        bottom:60px;
    }
}