@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@keyframes disappear{
    from{color:white;}
    to{color:#101820;}
}
@keyframes surge{
    from{color:#101820;}
    to{color:white;}
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FEE715;
}
.first-color-section{
    margin:0;
    padding:0;
    background-color: #101820;
    color:white;
}
.second-color-section{
    margin:0;
    padding:0;
    background-color: #FEE715;
    color:#101820;
}
.first-to-second-transition{
    background-color: inherit;
}
.first-to-second-transition hr{
    border: 5px solid #101820;
    margin:10px 0px 0px 0px;
  
}
.container {
    margin: 30px auto auto auto;
    width: 65%; 
    /*border: 3px solid #FEE715;*/
    padding: 10px;
    color:inherit;
}
.blankspace {
    height: 150px;
}

/*@media screen and (max-width:600px){}*/